.anu{
   border-radius: 15%; 
    
} 
  label { 
    display: block;
     margin-top: 10px;
 } 
   
.weed{
    margin-top: 15px;
    width: 500px; 
    height: 400px;
}
.radio{ 
   width: 500px; 
   height: 400px;  
} 
 
.checkbox{
   width: 500px; 
   height: 400px;
} 

 
